beautifulsoup4==4.5.3
bs4==0.0.1
dash==1.12.0
dash-core-components==1.10.0
dash-html-components==1.0.3
dash-renderer==1.4.1
dash-table==4.7.0
Flask==0.12.1
Flask-Ask==0.9.3
Flask-Compress==1.5.0
Flask-Cors==3.0.2
FormEncode==1.3.1
Jinja2==2.11.2
jsonschema==2.5.1
keyboard==0.13.2
lxml==3.7.2
MarkupSafe==1.1.1
matplotlib==2.0.0
modules==1.0.0
numpy==1.11.3
numpydoc==0.6.0
oauthlib==2.0.7
pandas==0.19.2
plotly==4.8.1
python-dateutil==2.6.0
requests==2.12.4
requests-file==1.4.2
requests-ftp==0.3.1
requests-oauthlib==0.8.0
six==1.10.0
sortedcontainers==2.0.5
treeinterpreter==0.2.2
unicodecsv==0.14.1
Unidecode==0.4.20
urllib3==1.24.1
